body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  overflow: hidden;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 60%;
  font-size: 30px;
  font-weight: 200;
  line-height: 40px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  padding-top: 20px;
}

#author {
  text-align: right;
  font-weight: bold;
}

#answer {
  line-height: 50px;
  font-size: 40px;
  transition: none;
  opacity: 0;
}

#answer.show {
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 5s;
}

#container {
  transition: transform 1s;
  -webkit-transition: -webkit-transform 1s;
   opacity: 0;
}

#container.up {
  transform: rotate(10deg) translateY(-150%);
  -webkit-transform: rotate(10deg) translateY(-150%);
}

pre {
  white-space: pre-wrap;
  font-family: "sans-serif";
}

video {
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  left: 0;
  top: 0;
  display: block;
  opacity: 1;
  transition: opacity 1s;
}
